@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
.snip1226 {
  font-family: 'Raleway', Arial, sans-serif;
  /* text-align: center; */
  /* text-transform: uppercase; */
  font-weight: 500;
  gap: 30px;
}
.snip1226 * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1226 li {
  display: inline-block;
  list-style: outside none none;
  
  /* margin: 0 1.5em; */
  overflow: hidden;
}
.snip1226 a {
  padding: 0.3em 0;
  color:#334155;
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
}
.snip1226 a:before,
.snip1226 a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1226 a:before {
  bottom: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
  background-color: #e67e22;
}
.snip1226 a:after {
  padding: 0.3em 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  content: attr(data-hover);
  color:#EA5D4A;
  white-space: nowrap;
}
.snip1226 li:hover a,
.snip1226 .current a {
  transform: translateY(100%);
}
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

body {
  font-family: 'Raleway', Arial, sans-serif;
  margin: 0;
  background-color: #f3f4f6;
}

/* Стили для списка навигации */
.snip1226 {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 500;
  gap: 30px;
}
.snip1226 li {
  display: inline-block;
  list-style: none;
  overflow: hidden;
}
.snip1226 a {
  padding: 0.3em 0;
  color: #334155;
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  text-decoration: none;
}
.snip1226 a:before,
.snip1226 a:after {
  position: absolute;
  transition: all 0.35s ease;
}
.snip1226 a:before {
  bottom: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
  background-color: #e67e22;
}
.snip1226 a:after {
  bottom: 100%;
  left: 0;
  content: attr(data-hover);
  color: #ea5d4a;
  white-space: nowrap;
}
.snip1226 li:hover a {
  transform: translateY(100%);
}


.modal {
  display: none; 
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  right: 0px;
  align-items: center;
  z-index: 1000;
  top: 0;
  
 
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  
 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
   z-index: 1010; 

  border-radius: 8px;
 
  max-width: 600px;
  width: 90%;

  
}

.modal-content h2 {
  margin: 0 0 10px;
}

.modal-content p {
  margin: 0 0 20px;
}

.close {
  position: absolute;
 
top: 10px;
  right: 15px;
  font-size: 25px;
  cursor: pointer;
  color: #aaa;
}

.background-element {
  z-index: 1; 
}

.close:hover {
  color: #000;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 20px;
  
}
img {
  position: relative; 
  z-index: 1; 
}



nav {
  margin-bottom: 20px;
  text-align: center; 
}

#pages {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.page {
  display: none;
}

.page.active {
  display: block;
}
.moda {
  display: none; 
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  right: 0px;
  align-items: center;
  z-index: 1000;
  top: 0;
  
 
}

.moda-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  
  height: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
   z-index: 1010; 

  border-radius: 8px;
 
  max-width: 900px;
  width: 90%;

  
}

.moda-content h2 {
  margin: 0 0 10px;
}

.moda-content p {
  margin: 0 0 20px;
}

.close {
  position: absolute;
  bottom: 700px;

  right: 15px;
  font-size: 30px;
  cursor: pointer;
  color: #aaa;
}

.background-element {
  z-index: 1; 
}

.close:hover {
  color: #000;
}


  
   .form-container {
    background-color:#8081BD;
    padding: 40px 30px;
    border-radius: 20px;
    width: 400px;
    height: 568px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;

  }
 
  .form-title {
    width: 384px;
    font-size: 40px;
    font-weight: 700;
    line-height: 50.01px;
    text-align: left;
    margin-top: 10px;
    color: white;
  
 
    
    





  }
  
  .form-description {
    color: #fffefe;
  
    margin-bottom: 20px;
    line-height: 1.5;
    margin-top: 10px; 
    width: 250px;
    height: 50px;
 
font-size: 14px;
font-weight: 500;
line-height: 17.07px;
text-align: left;



  }
  
  
  .signup-form input[type="text"],
  .signup-form input[type="tel"],
  .signup-form input[type="email"] {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 14px;
  }
  
  .signup-form input:focus {
    outline: none;
    border-color: #4a90e2;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
  }
  
 
  .checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
    color: #fefcfc;
  }
  
  .input-checkbox {
   
 
    margin-bottom: 17px;
    position: relative;
    left: 50px;
  }
  
  .checkbox-text {
    color: #fcf9f9;
    width: 291px;
height: 14px;
font-size: 16px;
font-weight: 500;
line-height: 20.19px;
margin-bottom: 20px;




  }
  

  .submit-button {
    background-color: #f85540;
    color: #fff;
    width: 308px;
    border-radius: 100px;
     height: 40px;
  
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    



  }
  
  .submit-button:hover {
    background-color: #e04336;
  } 


 

  @media (max-width: 760px) {
    .swiper-button-next {
      right: 20px;
      transform: rotate(90deg);
    }

    .swiper-button-prev {
      left: 20px;
      transform: rotate(90deg);
    }
  } 
  @import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

.h1 {
  color: #8081BD ;
  width: 539px;
  height: 49px;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.card {
  width: 268px;
  height: 100px;
  background-color:#FFF6D1;
  border-radius: 10px;
}
.card16 {
  width: 1100px;
  height: 100px;
  background-color:#EA5D4A;
  border-radius: 10px;
  margin-left: 500px;
  z-index: 1000;
  position: absolute;
  top: 815px;
}
.p16 {
  width: 980px;
  height: 100px;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  color:#334155 ;   
  margin-left: 100px; 
  margin-top: -60px;
}
.p {
  width: 180px;
  height: 100px;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color:#334155 ;   
  margin-left: 150px; 
  margin-top: -50px;
}
.card2 {
  width: 400px;
  height: 100px;
  background-color:#FFF6D1;
  border-radius: 10px;
}
.p2 {
  width: 180px;
  height: 100px;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color:#334155 ;   
  margin-left: 150px; 
  margin-top: -50px;
}
.card3 {
  width: 400px;
  height: 100px;
  background-color:#FFF6D1;
  border-radius: 10px;
}
.p3 {
  width: 180px;
  height: 100px;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color:#334155 ;   
  margin-left: 150px; 
  margin-top: -50px;
}
.card4 {
  width: 400px;
  height: 100px;
  background-color:#FFF6D1;
  border-radius: 10px;
}
.p4 {
  width: 180px;
  height: 100px;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color:#334155 ;   
  margin-left: 150px; 
  margin-top: -50px;
}
.card5 {
  width: 300px;
  height: 100px;
  background-color:#FFF6D1;
  border-radius: 10px;
}
.p5 {
  width: 180px;
  height: 100px;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color:#334155 ;   
  margin-left: 100px; 
  margin-top: -50px;
}
.card6 {
  width: 350px;
  height: 100px;
  background-color:#FFF6D1;
  border-radius: 10px;
}
.p6 {
  width: 180px;
  height: 100px;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color:#334155 ;   
  margin-left: 130px; 
  margin-top: -50px;
}
.card7 {
  width: 450px;
  height: 100px;
  background-color:#FFF6D1;
  border-radius: 10px;
}
.p7 {
  width: 220px;
  height: 100px;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color:#334155 ;   
  margin-left: 130px; 
  margin-top: -50px;
}
.card8 {
  width: 450px;
  height: 100px;
  background-color:#FFF6D1;
  border-radius: 10px;
}
.p8 {
  width: 220px;
  height: 100px;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color:#334155 ;   
  margin-left: 130px; 
  margin-top: -50px;
}
.card9 {
  width: 520px;
  height: 100px;
  background-color:#FFF6D1;
  border-radius: 10px;
}
.p9 {
  width: 420px;
  height: 100px;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color:#334155 ;   
  margin-left: 130px; 
  margin-top: -50px;
}
.card10 {
  width: 300px;
  height: 100px;
  background-color:#FFF6D1;
  border-radius: 10px;
}
.p10 {
  width: 220px;
  height: 100px;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color:#334155 ;   
  margin-left: 130px; 
  margin-top: -50px;
}
.card11 {
  width: 350px;
  height: 100px;
  background-color:#FFF6D1;
  border-radius: 10px;
}
.p11 {
  width: 220px;
  height: 100px;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color:#334155 ;   
  margin-left: 130px; 
  margin-top: -50px;
}
.card12 {
  width: 500px;
  height: 100px;
  background-color:#FFF6D1;
  border-radius: 10px;
}
.p12 {
  width: 420px;
  height: 100px;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color:#334155 ;   
  margin-left: 100px; 
  margin-top: -50px;
}
.card13 {
  width: 300px;
  height: 100px;
  background-color:#FFF6D1;
  border-radius: 10px;
}
.p13 {
  width: 320px;
  height: 100px;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color:#334155 ;   
  margin-left: 130px; 
  margin-top: -50px;
}
.card14 {
  width: 300px;
  height: 100px;
  background-color:#FFF6D1;
  border-radius: 10px;
}
.p14 {
  width: 320px;
  height: 100px;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color:#334155 ;   
  margin-left: 130px; 
  margin-top: -50px;
}
.card15 {
  width: 350px;
  height: 100px;
  background-color:#FFF6D1;
  border-radius: 10px;
}
.p15 {
  width: 320px;
  height: 100px;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color:#334155 ;   
  margin-left: 110px; 
  margin-top: -50px;
}